<!-- <p>login works!</p> -->
<small class='errorMessage'>{{errorMessage}}</small>
<form [formGroup]="loginForm">
    <div>
        <input type="text" formControlName="username" placeholder="username">
        <small>
            {{getUserNameErrorMessage()}}
        </small>
    </div>

    <div>
        <!-- <hidden></hidden> -->
        <input type="text" formControlName="password" placeholder="password">
        <small>
            {{getPasswordErrorMessage()}}
        </small>
    </div>

    <div>
        <button [disabled]=loginForm.invalid (click)="login()">Login</button>
    </div>

</form>
