<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Employee List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees | async">
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.emailId}}</td>
                    <td>
                        <button  (click)="updateEmployee(emp.id)" class="btn btn-info" style="margin-left:10px">Update</button>
                        <button  (click)="deleteEmployee(emp.id)" class="btn btn-danger" style="margin-left:10px">Delete</button>
                        <button  (click)="detailEmployee(emp.id)"  class="btn btn-info" style="margin-left:10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>