<div>
    <form [formGroup]="registrationForm">

        <label>Enter Your Name</label>
        <input type="text" formControlName="name"><br>
        <small style="color:red">{{getNameErrors()}}</small><br>
        <label>Enter Your Date of Birth</label>
        <input type="date" formControlName="dob"><br>
        <label>Enter Your Email</label>
        <input type="text" formControlName="email"><br>
        <label>Enter Your Password</label>
        <input type="password" formControlName="password"><br>
        <label>Re-Enter Your Password</label>
        <input type="password" formControlName="cpassword"><br>
        <label>Select Country you live in</label>
        <select formControlName="country">
            <option selected>-----------</option>
            <option>India</option>
            <option>USA</option>
            <option>UAE</option>
            <option>Australia</option>
        </select><br>

        <label>Select Gender</label>
        <input type="radio" formControlName="gender" name="gender">Female
        <input type="radio" formControlName="gender" name="gender">Male
        <br>

        <label>Accept Terms & Conditions</label>
        <input type="checkbox" formControlName="tc" name="tc">
        <br>
        <button >Register</button>
        <button>Reset</button>

    </form>
</div>